.blocks {
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-rows: repeat(2, 198px);
    grid-gap: 15px;
    background: #B3F95A;
    grid-template-areas: 
    'one two three'
    'four four five'
    ;
    margin: 0 0 15px 0;
}