@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url(./Roboto-Regular.woff2) format("woff2"), url(./Roboto-Regular.woff) format("woff"), url(./Roboto-Regular.eot) format("eot"), url(./Roboto-Regular.ttf) format("ttf");
    font-display: swap;
}